<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <title>ADM Proyectos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="container mt-5">

    <!-- Título de la página -->
    <div class="alert alert-info display-1 text-center">LISTADO DE PROYECTOS</div>

    <!-- Tabla para listar los proyectos -->
    {% if proyectos %}
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha Inicio</th>
                <th>Fecha Termino</th>
                <th>Responsable</th>
                <th>Prioridad</th>
                <th>Acciones</th> <!-- Columna para los botones -->
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.fechaInicio }}</td>
                <td>{{ proyecto.fechaTermino }}</td>
                <td>{{ proyecto.responsable }}</td>
                <td>{{ proyecto.prioridad }}</td>
                <td>
                    <a class="btn btn-success btn-small" href="actualizar/{{ proyecto.id }}">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <a class="btn btn-danger btn-small" href="eliminar/{{ proyecto.id }}">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-warning text-center">No se encuentran proyectos en el sistema</div>
    {% endif %}

    <!-- Botones de navegación -->
    <div class="d-flex justify-content-between mt-4">
        <a href="/" class="btn btn-danger">VOLVER</a>
        <a href="agregar" class="btn btn-success">AGREGAR PROYECTO</a>
    </div>

</body>
</html>
